.content {
  position: relative;
  display: flex;
  margin-top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 500px;
  user-select: none;
  font-family: sans-serif;
  overflow: auto;
}

.cover_img,
.cover_txt_container {
  position: relative !important;
  width: 50% !important;
}

.cover_greeting {
  position: relative;
  font-size: 40px;
}

.cover_description {
  position: relative;
  font-size: 16px;
}

.cover_stats_container {
  position: absolute;
  bottom: 0px;
}

.cover_greeting, .cover_description, .cover_stats_container {
  left: 100px;
  width: calc(100% - 100px);
}

.stat {
  display: inline-block;
  position: relative;
  margin-right: 40px;
}

.stat span:first-child {
  font-size: 50px;
}

.stat span:last-child {
  font-size: 20px;
}

@media (max-width: 1220px) {
  .cover_img, .cover-txt {
      width: 50% !important;
  }

  .content {
      width: 100%;
      transform: none;
      left: 0%;
  }
  
  .cover_img {
      object-fit: contain;
  }
}

/* scale containers for most mobile devices */
@media (max-width: 768px) {
  .cover_img, .cover_txt_container {
      height: 600px !important;
      width: 100% !important;
  }

  .content {
      margin-top: 0;
      flex-direction: column;
      flex: 1;
  }
}

/* scale cover_txt_container items for most mobile phones */
@media (max-width: 500px) {
  .cover_greeting, .cover_description, .cover_stats_container {
      left: 10px;
      width: calc(100% - 10px);
  }
}